:root {
  --index: calc(1vh + 1vw);
  --logo-size: calc(var(--index) * 4);
  --plan-photo-size: calc((var(--index)) * 20)
}
@font-face {
  font-family: kamerik-3d;
  src: url(../../../public/fonts/kamerik205-heavy.woff2);
  font-weight: 900;
}
@font-face {
  font-family: merri-italic-3d;
  src: url(../../../public/fonts/merriweather-regular-italic.woff2);
}
.header__body {
  background-color: #000;
  height: 100vh;
  color: #fff;
  font-family: kamerik-3d;
}
.logo {
  width: var(--logo-size);
  height: var(--logo-size);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: calc(var(--index) * 0.8);
  left: calc(50% - calc(var(--logo-size) / 2) + var(--index));
  z-index: 10;
}
.layers {
  perspective: 1000px;
  overflow: hidden;
}
.layers__container {
  height: 100vh;
  min-height: 500px;
  transform-style: preserve-3d;
  transform: rotateX(var(--deg-Y)) rotateY(var(--deg-X));
  will-change: transform;
  transition-duration: 0.2s;
}
.layers__item {
  position: absolute;
  inset: -5vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layer-1 {
  transform: translateZ(-55px) scale(1.06);
}
.layer-2 {
  transform: translateZ(80px) scale(0.88);
}
.layer-3 {
  transform: translateZ(180px) scale(0.8);
}
.layer-4 {
  transform: translateZ(190px) scale(0.9);
}
.layer-5 {
  transform: translateZ(300px) scale(0.9);
}
.layer-6 {
  transform: translateZ(380px);
}
.header-content {
  font-size: calc(var(--index) * 2.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: calc(var(--index) * -0.15);
  line-height: 1.35em;
}
.header-content__h1 {
  margin-bottom: calc(var(--index) * 2);
  text-shadow: 1px 2px rgb(69, 69, 69);
}
.header-content__p {
  font-size: calc(var(--index) * 0.8);
  font-family: merri-italic-3d;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1;
  text-shadow: 1px 2px rgb(69, 69, 69);
}
.button__start {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: calc(var(--index) * 0.71);
  padding: calc(var(--index) * 0.71) calc(var(--index) * 1.25);
  background-color: transparent;
  color: #fff;
  border-radius: 5rem;
  border: rgba(255, 255, 255, 0.4) 3px solid;
  margin-top: calc(var(--index) * 2);
  outline: none;
  cursor: pointer;
}
.button__start:hover {
  animation-name: button-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.button__start:active {
  transform: scale(0.98);
}
.layer-4,
.layer-5,
.layer-6 {
  pointer-events: none;
}

@keyframes button-hover {
  from {
    border: rgba(255, 255, 255, 0.4) 3px solid;
  }
  to {
    border: rgba(255, 255, 255, 0.964) 3px solid;
  }
}
